
#promoblock
{
	background-image: url(assets/img-temp/1920x1080/img17.jpg);
}

.p1
{
	text-align: Justify;
}

#inscription
{
	font-size: 2.95em !important;
}


.linear-gradient {
	display: block;
  background: linear-gradient(#f3f3f3, white);
  width: 100%;
  height: 4px;
  position: absolute;
  top:calc(100%);
}

.block_center{
	margin-left: auto;
 	margin-right: auto;
 	justify-content: center;
}

.Notifications_Panel{
	height: 217px;
}

.origin_background{
	background-color: #ffffffff !important;
	color: #495057 !important;
	border-color: #f3f3f3 !important;
}

.color_blue{
	background-color: rgb(24, 109, 174) !important;
	color: #ffffffff !important;
	border-color: rgb(24, 109, 174) !important;
}


.height_login
{
	height:653.838px;
}

.lien_login
{
	color: #ffffffff !important;
	height: 125px !important;
	line-height: 100px !important;
}

.top_zero{
	padding-top: 36px !important;
}

.bot_40{
	padding-bottom: 30px !important;
}

.police_titre_home
{
	font-size: 50px !important;
}

.police_sous_titre_home
{
	font-size: 30px !important;
}

.police_paragraphe_home
{
	font-size: 22px !important;
}

@media (min-width: 768px){

.taille-block {
    width: 85% !important;
}

}

.stop_center{
	text-align: left !important;
}

.center_main_menu{
	padding-top: 198px !important;
    padding-bottom: 198px !important;
}