
.p1
{
	text-align: Justify;
}

.linear-gradient {
	display: block;
  background: linear-gradient(#f3f3f3, white);
  width: 100%;
  height: 4px;
  position: absolute;
  top:calc(100%);
}

.linear-gradient2 {
	display: block;
  background: linear-gradient(#f3f3f3, white);
  width: 85%;
  height: 4px;
  position: absolute;
  top:calc(100%);
  justify-content: center;
}

.block_center{
	margin-left: auto;
 	margin-right: auto;
 	justify-content: center;
}

.Notifications_Panel{
	height: 217px;
}

.origin_background{
	background-color: #ffffffff !important;
	color: #495057 !important;
	border-color: #f3f3f3 !important;
}

.color_blue{
	background-color: rgb(24, 109, 174) !important;
	color: #ffffffff !important;
	border-color: rgb(24, 109, 174) !important;
}


.height_login
{
	height:653.838px;
}

.lien_login
{
	color: #ffffffff !important;
	height: 125px !important;
	line-height: 100px !important;
}

.top_zero{
	padding-top: 36px !important;
}

.bot_40{
	padding-bottom: 30px !important;
}


.padding_home_entreprise{
	padding-top: 12px !important;
	padding-bottom: 0px !important;
}

.padding_inscription_int_qui{
	padding-top: 50px !important;
	padding-bottom: 60px !important;
}

.padding_inscription_int_col{
	padding-top: 50px !important;
	padding-bottom: 0px !important;
}

.police_titre_home
{
	font-size: 50px !important;
}

.police_titre_home_Entreprise
{
	font-size: 45px !important;
}

.police_sous_titre_home
{
	font-size: 30px !important;
}

.police_paragraphe_home
{
	font-size: 22px !important;
}

@media (min-width: 768px){

.taille-block {
    width: 85% !important;
}

}

.stop_center{
	text-align: left !important;
}

.center_main_menu{
	padding-top: 198px !important;
    padding-bottom: 198px !important;
}

.resume
{
    padding-top: 20px;
    border: 1px gray solid;
}

.nom
{
    font-size: 12;

}
.menu_fix
{
    position: fixed;
    text-align: right;
    margin-left: 150px;
    background-color: white;

}
.posts_fix
{
    padding-top: 150px;
    text-align: center;
    margin: 0px;
    box-sizing: border-box;
}

.border_resume
{
    position: fixed;
    display: inline-block !important;
    margin-left: 50px;
    padding-top: 160px;

}

.border_actions
{
    padding-top: 20px;
    border-top: 1px gray solid;
    margin-bottom: 0px;
}

.tendances
{
    position: fixed;
    margin : 0px !important;
    right: 10px;
    width: 280px;
    bottom: 395px;
}

.tendances article,
{
    width: 100vh !important;
    height: 100vh !important;
}

.suggestions
{
position: fixed;
    margin : 0px !important;
    right: 20px;
    width: 250px;
    height: 10px;
    bottom: 300px;
}